.navbar-brand {
    margin-left: 32px;
    margin-right: 32px;
}

.btn.fab {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.2);
}

#fab-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 200;
    margin: 32px;
}

#log-container {
    width: 70vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: -75vw;
    z-index: 100;
    box-shadow: 0 0 10px 2px rgba(131, 131, 131, 0.6);
}

.system-msg {
    color: yellow;
}

.system-stdout {
    color: skyblue;
}

.system-stderr {
    color: rgb(199, 36, 53);
}
